@import './utils/variables';
@import './base/normalize';
@import './utils/fonts-style';
@import './utils/visually-hidden';
@import './base/body';
@import './components/page-header/page-header';
@import './components/section-greeting/section-greeting';
@import './components/section-features/section-features';
@import './components/section-scope/section-scope';
@import './components/partners/partners';
@import './components/section-team/section-team';
