.backdrop__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: $bg-primary-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.backdrop__close-icon {
  width: 11px;
  height: 11px;
  color: currentColor;
}

.backdrop__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: $color-title-primary;
}
