.backdrop__form {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.backdrop__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;

  letter-spacing: 0.03em;

  color: $color-title-primary;
}

.backdrop__label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 10px;
  cursor: pointer;

  &:focus-within .backdrop__span {
    color: $accent-color;
  }

  &:focus-within .backdrop__icon {
    fill: $accent-color;
  }
}

.backdrop__span {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $color-text-primary;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__icon {
  position: absolute;
  left: 12px;
  top: 50%;

  width: 18px;
  height: 18px;

  fill: $color-title-primary;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__input {
  padding: 11px 40px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: 1px solid $accent-color;
    border-radius: 4px;
  }

  &:placeholder-shown {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }

  &:not(:placeholder-shown) {
    border: 1px solid $accent-color;
    border-radius: 4px;
    outline: none;
  }
}

.backdrop__textarea {
  margin-bottom: 10px;
  margin-top: 4px;

  padding: 12px 16px;

  width: 100%;
  height: 120px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  &::placeholder {
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

    @media screen and (min-width: 1200px) {
      font-size: 12px;
    }
  }

  &:placeholder-shown {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }

  &:not(:placeholder-shown) {
    border: 1px solid $accent-color;
    border-radius: 4px;
    outline: none;
  }

  &:focus,
  &:hover {
    border-radius: 4px;
    outline: 1px solid $accent-color;
  }
}

.backdrop__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  cursor: pointer;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.backdrop__checkbox-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .backdrop__check {
    /* border-color: var(--accent-color);
  background-color: var(--accent-color); */
    /* border-radius: 2px; */

    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
  }
}

.backdrop__check {
  left: 16px;
  top: 4px;
  margin-right: 8px;

  width: 16px;
  height: 16px;

  background-image: url(../images/icon-border-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;

  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* border: 2px solid #212121;
  background-color: var(--background-color);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    bacgroun-image 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.backdrop__checkbox-link {
  margin-left: 5px;
  color: $accent-color;
}

.backdrop__modal-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;

  width: 200px;
  height: 50px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $color-text-secondary;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $btn-change--color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}
