.backdrop {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.backdrop__modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;

  width: 450px;
  height: 609px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $bg-primary-color;

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
@import './backdrop__close-btn';
@import './backdrop__form';
