@import '../page-header/page-header';

.section-contact {
  padding: 60px 15px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../../images/Hero-mobile.jpg);

  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../../images/Hero-mobile2x.jpg);
  }

  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../../images/Hero-tablet.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../../images/Hero-tablet2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../../images/Hero-desktop.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../../images/Hero-desktop2x.jpg);
    }
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.section-contact__title {
  margin-bottom: 18px;
  margin-top: 0;

  color: $color-text-secondary;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    font-size: 36px;
  }
}

@import './contacts-list';
@import '../page-footer/page-footer';
