@import '../page-header/page-header';

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

// @import './buttons-portfolio';
// @import './portfolio-list';
@import '../page-footer/page-footer';
