.navigation-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 0;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  /* outline: 2px solid tomato; */
}
.navigation-list__item {
  margin-left: 50px;

  &:first-child {
    margin-left: 0;
  }
}

.navigation-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $color-text-nav;

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scalex(0);
    /* opacity: 0; */
    background-color: $bg-primary-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;

    &::after,
    &::after {
      transform: scalex(1);
      /* opacity: 1; */
      background-color: $accent-color;
    }
  }
}

.navigation-list__studio {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $accent-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}

.navigation-list__portfolio {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $accent-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}

.navigation-list__contact {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $accent-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}
