.navigation__logo {
  padding: 16px 0px;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: $color-header-logo;
}

.navigation__logo-span {
  color: $accent-color;
}
