// цвет фона
$accent-color: #2196f3;
$bg-primary-color: #ffffff;
$bg-team-color: #f5f4fa;
$bg-greeting-color: #ececec;
$bg-greeting-overlay: rgba(47, 48, 58, 0.4);
$bg-footer-color: #2f303a;
$bg-modal-overlay-color: rgba(0, 0, 0, 0.2);

// цвет текста
$color-text-primary: #757575;
$color-text-secondary: #ffffff;
$color-title-primary: #212121;
$color-title-secondary: #ffffff;
$color-text-nav: #212121;

// цвет текста ссылок
$color-link-primary: #212121;
$color-link-secondary: #757575;
$color-link-primary: #212121;
$color-link-third: rgba(255, 255, 255, 0.6);
$color-link-change-: #ffffff;
$color-header-logo: #000000;

// цвет бордеров
$border-color-header: #ececec;
$border-color-portfolio-card: #eeeeee;
$border-client-color: #afb1b8;

// цвет кнопок
$btn-change--color: #188ce8;

// цвет фона иконок
$bg-features-icon-color: #f5f4fa;
$bg-footer-social-color: rgba(255, 255, 255, 0.1);

// цвет иконок
$color-icon-team: #afb1b8;
$color-icon-modal: #212121;
$color-icon-change: #ffffff;

// шрифты
$main-font: 'roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
