.page-footer__logo {
  padding-top: 0px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-left: 0;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: $accent-color;
  display: inline-block;
}

.page-footer__span {
  color: $color-icon-change;
}
